
<div class="row">
	<div id="hero" class="span12">
		
		<img id="football_player" src="/assets/football_player.png" />		
		
		<div class="span7 pull-left">
			<h2>IT’S COLLEGE FOOTBALL SEASON!</h2>		
			
			<p>
				The 2012 college football season is heating up
				and now is your chance to get in on all the action
				with all the participants of the College Football Experts Club game.
			</p>
						
			<div id="sign_up" class="pull-left span6">
				
				<a class="btn btn-large btn-success">SIGN UP NOW</a>
				<a class="btn btn-large btn-facebook">
					<img class="pull-left" src="/assets/facebook_button_icon.png"/>
					<div id="sign_in_text">SIGN IN NOW</div>
				</a>
				
			</div>
		
		</div>		
	</div>
</div>
	
<div id="game_navigation_container" class="row">
	<div class="span12">
		<ul>
			<li>
				<a href="#" class="btn-play">
					SIGN UP TO PLAY
					
				</a>
				
			</li>
			<li><a href="#" class="btn-white">PLAY THE GAME</a></li>
			<li>
				<a href="#" class="btn-white">					
					WIN GREAT PRIZES
				</a>
			</li>
		</ul>
	</div>
</div>


<div class="row">
	<div id="in_game_activity_container" class="span6" class="pull-left">
		<h2>In-Game Activity</h2>
		<ul id="registered_list">
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
				
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
		</ul>
	</div>
	
	<div id="remaining_time_container" class="span2">
		<div id="week_header">
			<h3>Week 12</h3>
			<p>Sept 3-7th</p>
		</div>
		<div>
			<p>First game kicks off</p>
			<p>Sat. Sept 3rd</p>
			<p>at 7 PM ET</p>
		</div>
		<div>
			<p>TIME REMAINING TO</p>
			<p>MAKE YOUR PICKS</p>
		</div>
		<div>
			<img src="/assets/numbers_countdown.png"/>
			<div>
				<span>DAYS</span>
				<span>HOURS</span>
				<span>MINS</span>
			</div>
		</div>
	</div>
	
	<div id="vietti_ad_container" class="span4 pull-left hidden-phone">
		<img src="/assets/vietti_ad.png" />
	</div>
	
	
</div> <!-- End In-Game Activity Row -->


<div class="row">
	<div id="college_football_news" class="span8">
		<h2>College Football News</h2>
		<p>Powered By Athlon Sports</p>
		
		<ul>
			<li>
				<img src="/assets/football_news_1.png" class="pull-left"/>
				<h4>Will Michigan be one of the best teams in 2012 season?</h4>
				<p>
					Denard Robinson, QB "Shoelace" could go down as the most prolivic rushing quarterback
					in NCAA history.  He needs 1,252 yards to beat Pat White's all-time record
					of 4,480.
				</p>
				<a>Read More</a>
			</li>
			<li>
				<img src="/assets/football_news_1.png" class="pull-left"/>
				<h4>Will Michigan be one of the best teams in 2012 season?</h4>
				<p>
					Denard Robinson, QB "Shoelace" could go down as the most prolivic rushing quarterback
					in NCAA history.  He needs 1,252 yards to beat Pat White's all-time record
					of 4,480.
				</p>
				<a>Read More</a>
			</li>
			<li>
				<img src="/assets/football_news_1.png" class="pull-left"/>
				<h4>Will Michigan be one of the best teams in 2012 season?</h4>
				<p>
					Denard Robinson, QB "Shoelace" could go down as the most prolivic rushing quarterback
					in NCAA history.  He needs 1,252 yards to beat Pat White's all-time record
					of 4,480.
				</p>
				<a>Read More</a>
			</li>
			<li>
				<img src="/assets/football_news_1.png" class="pull-left"/>
				<h4>Will Michigan be one of the best teams in 2012 season?</h4>
				<p>
					Denard Robinson, QB "Shoelace" could go down as the most prolivic rushing quarterback
					in NCAA history.  He needs 1,252 yards to beat Pat White's all-time record
					of 4,480.
				</p>
				<a>Read More</a>
			</li>
		</ul>
	
	</div>	<!-- end football news div -->
	
	<div id="rankings_container" class="span4">
		<div>Athlon Sports Top Ten</div>
		<table class="table table-bordered table-striped">
			<thead>
				<th>RK</th>
				<th>TEAM</th>
				<th>RECORD</th>
				<th>PTS</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Alabama (55)</td>
					<td>12-1</td>
					<td>1495</td>
				</tr>
				
				
				
			</tbody>
		</table>
		
		<img src="/assets/build_jersey.png" />
		<img src="/assets/invite_friends.png" />
		
	</div>
	
	
</div> <!-- End college football news row -->



<div id="create_leagues_container" class="row">
	<div class="span5 pull-left">
		<h2>CREATE LEAGUES</h2>
		<p>
			Looking for more of a challenge?  Join or create your
			own Challenge League - where you can have any number
			of friends competing against each other each week.
			Every league comes with its own Standings page
			and private message board for members only.
		</p>
		
		<a class="btn btn-large btn-success pull-left">SIGN UP NOW!</a>		
		
	</div>
	
	<div class="span6 pull-right">
		<img src="/assets/computer_league.png"  />
	</div>
</div> <!-- End create leagues container -->



<div id="make_your_picks_container" class="row">
	<div class="span5 pull-left">
		<img src="/assets/computer_picks.png"  />
	</div>
	<div class="span6 pull-right">
		<h2>MAKE YOUR PICKS</h2>
		<p>
			No drafts.  No rosters.  No trades.  Simply pick the 
			winners of each game and start earning points.
			Everything you need to help with your decision is right
			at your fingertips, including the Athlon Sports 
			StatCast - which gives you real-time statistical
			data on who the rest of your competition is picking!
		</p>
		
		<a class="btn btn-large btn-success pull-left">SIGN UP NOW!</a>		
		
	</div>
</div> <!-- End make picks container -->



<div id="watch_video_container" class="row">
	<div class="span6 pull-left">
		<h2>WATCH VIDEO</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at justo mauris. 
			Aenean id nisi ac nibh fermentum rhoncus. In lorem est, ultrices ut ornare molestie, placerat vel nisi. 
			Aliquam vehicula justo dolor. Duis mattis feugiat tincidunt. Aliquam eget sollicitudin tortor. 
			
		</p>
		
		<a class="btn btn-large btn-success pull-left">SIGN UP NOW!</a>		
		
	</div>
	
	<div class="span5 pull-right">
		<img src="/assets/watch_video.png"  />
	</div>
</div> <!-- End watch video container -->


<div id="sign_up_today_container" class="row">
	<div class="span2">
		<img src="/assets/sign_up_icon.png" class="pull-left"/>
	</div>
	<div class="span7 pull-left">
		<p class="">SIGN UP TODAY, IT'S COMPLETELY FREE!</p>
	</div>
	<div class="span2 pull-right">
		<a class="btn btn-large btn-success  ">Sign Up Now!</a>
	</div>
	
</div>


