
<div class="row">
	<div class="span12">
		
		<img id="football_player" src="/assets/football_player.png" />		
		
		<div class="span7 pull-left">
			<h2>IT’S COLLEGE FOOTBALL SEASON!</h2>		
			
			<p >
				The 2012 college football season is heating up
				and now is your chance to get in on all the action
				with all the participants of the College Football Experts Club game.
			</p>
						
			<div id="sign_up" class="span6">
				<a class="btn btn-success">SIGN UP NOW</a>
				<a class="btn">SIGN UP NOW</a>
			</div>
		
		</div>		
	</div>
</div>
	
<div id="game_navigation_container" class="row">
	<ul>
		<li><a class="btn btn-large btn-inverse">SIGN UP TO PLAY</a></li>
		<li><a class="btn btn-large btn-inverse">PLAY THE GAME</a></li>
		<li><a class="btn btn-large btn-inverse">WIN GREAT PRIZES</a></li>
	</ul>
</div>


<div class="row">
	<div class="span6" class="pull-left">
		<h2>In-Game Activity</h2>
		<ul id="registered_list">
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
				
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
			<li>
				<img src="/assets/ballboy_image.png"/ >
				<strong>BALLBOY</strong> from TN just registered for the game.
				<span><a href="#">Sign up now!</a></span>
				<p>19 mins ago</p>
			</li>
		</ul>
	</div>
	
	<div id="remaining_time_container" class="span2">
		<div id="week_header">
			<h3>Week 12</h3>
			<p>Sept 3-7th</p>
		</div>
		<div>
			<p>First game kicks off</p>
			<p>Sat. Sept 3rd</p>
			<p>at 7 PM ET</p>
		</div>
		<div>
			<p>TIME REMAINING TO</p>
			<p>MAKE YOUR PICKS</p>
		</div>
		<div>
			<img src="/assets/numbers_countdown.png"/>
			<div>
				<span>DAYS</span>
				<span>HOURS</span>
				<span>MINS</span>
			</div>
		</div>
	</div>
	
	<div id="vietti_ad_container" class="span4 pull-right hidden-phone"></div>
	
	
</div> <!-- End In-Game Activity Row -->

















