
<div class="row">
	<div class="span12">
		
		<img class="pull-right" src="/assets/football_player.png" />		
		
		<div class="span7 pull-left">
			<h2>IT’S COLLEGE FOOTBALL SEASON!</h2>		
			
			<p >
				The 2012 college football season is heating up
				and now is your chance to get in on all the action
				with all the participants of the College Football Experts Club game.
			</p>
						
			<div id="sign_up" class="span6">
				<a class="btn btn-success">SIGN UP NOW</a>
				<a class="btn">SIGN UP NOW</a>
			</div>
		
		</div>		
	</div>
</div>
	
<div id="game_navigation_container" class="row">
	<ul>
		<li><a class="btn btn-large btn-inverse">SIGN UP TO PLAY</a></li>
		<li><a class="btn btn-large btn-inverse">PLAY THE GAME</a></li>
		<li><a class="btn btn-large btn-inverse">WIN GREAT PRIZES</a></li>
	</ul>
</div>

