/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
*/

@import "bourbon";
@import "bootstrap";
@import "bootstrap-responsive";

@import url(http://fonts.googleapis.com/css?family=Russo+One);
@import url(http://fonts.googleapis.com/css?family=Muli);


// Altered LESS Variables




/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }



// Inverted navbar
$navbarInverseBackground:                #666;
$navbarInverseBackgroundHighlight:       #222222;
$navbarInverseBorder:                    #252525;

$navbarInverseText:                      $grayLight;
$navbarInverseLinkColor:                 $grayLight;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;




// Base class and wrapper
.navbar {
  width: 100%;
  @include border-radius(0);
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: $navbarHeight;
  padding-left:  0px;
  padding-right: 0px;
}



body {
  padding: 0;
  margin: 0;
  background: url("/assets/chilipeppers_background.png") no-repeat center 200px;
  width: 100%;
  display: table;
}


h2 {
  font-family: 'Russo One', sans-serif;
}






p {
  font-family: 'Muli', sans-serif;
}



.navbar {
  margin: 0;
  padding: 0;
}



#main_header {
  height: 225px;
  background-image:url("/assets/header_background_gradient.png");
  background-repeat: repeat-x;
  border-style: none;
  
  img#phone_logo {
    margin: 0 auto;
    padding-top: 50px;
  }
  
  #sun_rays {
    width: 1015px;
    height: 230px;
    margin: 0 auto;
    background-image:url("/assets/header_sunrays.png");  
    
    .row {
      
      margin: 0;
      padding: 0;
    }
    
    #vietti_logo {
      margin-top: 50px;
      width: 238px;
      height: 137px;
      background-image:url("/assets/vietti_logo.png");
    }
    
    #cowgirl {           
      width: 388px;
      height: 225px;
      margin: 0 auto;
      margin-left: 50px;
      background-image:url("/assets/cowgirl.png");
    }
    
    #football_experts {
      margin-top: 80px;
      width: 276px;
      height: 73px;
      background-image:url("/assets/football_experts_club_logo.png");
    }
    
  }
  
  #navigation_container {    
    margin-top: 20px;
    ul {      
      list-style-type: none;
            
      li {        
        
        float: left;
        a {
          margin: 0;
          //padding: 0;
        }
      }  
    }
    
  } // end navigation container
} // end main_header




#main.container {
  @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  background: #fff;
  //padding: 20px;
  //max-width: 940px;
  
  #hero {
    p {
      font-size: 20px;
    }
  }
  
  img#football_player {
    float: right;
  }
  
  #sign_up {
    margin-top: 60px;
  }
  
  #game_navigation_container {
    padding: 10px;
    margin-bottom: 20px;
    ul {
      list-style-type: none;
      
      li {
        margin-right: 2px;
        float: left;
      }
    } // end unordered list
  } // end game navigation container
  
  
  #in_game_activity_container {
    padding: 10px;
  }
  
  ul#registered_list {
    list-style-type: none;
    margin-left: 10px;
    
    
    
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,217,255,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,217,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,217,255,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,217,255,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,217,255,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,217,255,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccd9ff',GradientType=0 ); /* IE6-9 */

      
      
      
      img {
        float: left;
        margin: 5px;
        
      }
      
      p {
        font-style: italic;
      }
      
      span {
        float: right;
        margin-right: 10px;
        
        a {
          text-decoration: underline;
          color: #000;
          font-style: italic;
        }
        
      }
      
    }
  }// end registered list
  
  
  #remaining_time_container {
    
    border: 1px solid #666;
    #week_header {
      color: #fff;
      padding: 10px;
      background: #000;  
      text-align: center;
     
    }
    
    div:nth-child(2) {
      margin-top: 20px;
       p {
        text-align: center;
        font-size: 18px;
        margin-bottom: -3px;
       }
      
    }
    
    div:nth-child(3) {
      margin-top: 20px;
       p {
        text-align: center;
        font-size: 16px;
        font-weight: heavy;
        color: #666;
        margin-bottom: -3px;
       }
      
    }
    
    
    div:nth-child(4) {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      
      div {
        margin-top: -2px;
        span {
          text-align: center;
          
          margin-right: 1px;
          font-size: 14px;
          font-weight: heavy;
        }
      }
    }
    
    
    
    
  } // end remaining time container
  
  #vietti_ad_container {
    width: 300px;
    height: 250px;
    
    img {
      height: 100%;
      width: 100%
    }
    
  }
  
  
  #college_football_news {
    padding: 10px;
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-top: 40px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  
  
  #rankings_container {
    //margin-top: -80px;
    width: 300px;
    div:nth-child(1) {
      color: #fff;
      padding: 5px;
      font-size: 18px;
      background: #000;
      
    }
    
    img {
      margin-bottom: 10px;
    }
    
   
  }
  
  
  #create_leagues_container {
    margin-top: 20px;
    padding: 10px;
    p {
      font-size: 20px;
      
    }
    
    a {
      margin-top: 30px;
    }
    
  } // end create leagues container
  
  
  
  #make_your_picks_container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    p {
      font-size: 20px;
      
    }
    
     a {
      margin-top: 30px;
    }
    
    div.pull-left {
      img {
        margin-top: -50px;
      }
      
    }       
    
  } //end make your picks container
  
  
  
  
  #watch_video_container.row {
      
      padding: 10px;
      
      p {
        font-size: 20px;
        
      }
      
      a {
        margin-top: 30px;
      }
  }  // end watch video container
    
  
  
  
}// end main container

#sign_up_today_container {
    
    height: 50px;
    margin: 0;
    padding: 10px;   
     
    background: rgb(162,217,66); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(162,217,66,1) 0%, rgba(162,217,66,1) 50%, rgba(124,189,11,1) 51%, rgba(124,189,11,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,217,66,1)), color-stop(50%,rgba(162,217,66,1)), color-stop(51%,rgba(124,189,11,1)), color-stop(100%,rgba(124,189,11,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(162,217,66,1) 0%,rgba(162,217,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(162,217,66,1) 0%,rgba(162,217,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(162,217,66,1) 0%,rgba(162,217,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(162,217,66,1) 0%,rgba(162,217,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d942', endColorstr='#7cbd0b',GradientType=0 ); /* IE6-9 */

    div {
      
      img {
        margin-right: 50px;
      }
      
      p {
        
        color: white;
        font-size: 30px;
        font-weight: heavy;
        
        
      }
      
      a {
        
        
        
      }
      
    }
    
    
} // end sign up today container
   


footer { 
  
  color: white; 
  width: 100%;
  height: 224px;
  background: url("/assets/footer_football.png") #232323 no-repeat center center;
  
  div:nth-child(1) {
    margin: 0 auto;
    padding-top: 20px;
    
    div {
      ul {
        list-style-type: none;
        li {
          
          a {
            font-size: 12px;
            color: white;
            
          }
          
        }
      }
    }
    
    div:nth-child(1) {
      ul {
        list-style-type: none;
        li {
          float: left;
          font-size: 11px;
          a {
            font-style: italic;
            text-decoration: underline;
            color: white;
            font-size: 14px;
          }
        }        
      }
    }  // end first div
    
    div:nth-child(4) {
      ul {
        li {
          font-size: 12px;
          p {
            margin-top: 10px;
          }
        }
      }
    } // end fourth column
    
  } // end of footer container row div
  
  
  
} // end footer




.btn-success {
  padding: 10px;
  background: rgb(160,216,66); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(160,216,66,1) 0%, rgba(160,216,66,1) 50%, rgba(124,189,11,1) 51%, rgba(124,189,11,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,216,66,1)), color-stop(50%,rgba(160,216,66,1)), color-stop(51%,rgba(124,189,11,1)), color-stop(100%,rgba(124,189,11,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(160,216,66,1) 0%,rgba(160,216,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(160,216,66,1) 0%,rgba(160,216,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(160,216,66,1) 0%,rgba(160,216,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(160,216,66,1) 0%,rgba(160,216,66,1) 50%,rgba(124,189,11,1) 51%,rgba(124,189,11,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d842', endColorstr='#7cbd0b',GradientType=0 ); /* IE6-9 */

}


.btn-facebook {
  padding: 0;
  padding-left: 10px;
  
  width: 150px;
  color: white;
  background: rgb(132,165,215); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(132,165,215,1) 1%, rgba(84,115,194,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132,165,215,1)), color-stop(100%,rgba(84,115,194,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(132,165,215,1) 1%,rgba(84,115,194,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,165,215,1) 1%,rgba(84,115,194,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,165,215,1) 1%,rgba(84,115,194,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,165,215,1) 1%,rgba(84,115,194,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a5d7', endColorstr='#5473c2',GradientType=0 ); /* IE6-9 */
  
  &:hover {
    color: white;
  }
  
  div#sign_in_text {
     margin-top: 10px;
  }
  
  
}


.btn-play {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  color: white;
  width: 200px;
  padding: 20px;
  background: #81170A;
  
  &:hover {
    color: white;
  }
  
  img {
    float: right;
  }
}


.btn-white {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  color: black;
  width: 200px;
  padding: 20px;
  background: white;
  
  &:hover {
    color: white;
    background: #81170A;
  }
  
}




