/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
*/


@import "bootstrap";

@import "bootstrap-responsive";

// Altered LESS Variables




/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }



// Inverted navbar
$navbarInverseBackground:                #666;
$navbarInverseBackgroundHighlight:       #222222;
$navbarInverseBorder:                    #252525;

$navbarInverseText:                      $grayLight;
$navbarInverseLinkColor:                 $grayLight;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;



body {
  padding: 0;
  margin: 0;
  background: url("/assets/chilipeppers_background.png") no-repeat center 200px;
  width: 100%;
  display: table;
}


.navbar {
  margin: 0;
}



#main_header {
  height: 225px;
  background-image:url("/assets/header_background_gradient.png");
  background-repeat: repeat-x;
  border-style: none;
  
  img#phone_logo {
    margin: 0 auto;
    padding-top: 50px;
  }
  
  #sun_rays {
    width: 1015px;
    height: 230px;
    margin: 0 auto;
    background-image:url("/assets/header_sunrays.png");  
    
    .row {
      
      margin: 0;
      padding: 0;
    }
    
    #vietti_logo {
      margin-top: 50px;
      width: 238px;
      height: 137px;
      background-image:url("/assets/vietti_logo.png");
    }
    
    #cowgirl {           
      width: 388px;
      height: 225px;
      margin: 0 auto;
      margin-left: 50px;
      background-image:url("/assets/cowgirl.png");
    }
    
    #football_experts {
      margin-top: 80px;
      width: 276px;
      height: 73px;
      background-image:url("/assets/football_experts_club_logo.png");
    }
    
  }
  
  #navigation_container {    
       
    ul {      
      list-style-type: none;
      
      li {
        margin-right: 10px;
        float: left;
      }  
    }
    
  } // end navigation container
} // end main_header





#main.container {
  background: #fff;
  padding: 20px;
  //max-width: 940px;
  
  img#football_player {
    float: right;
  }
  
  #sign_up {
    margin-top: 60px;
  }
  
  #game_navigation_container {
    ul {
      list-style-type: none;
      
      li {
        margin-right: 20px;
        float: left;
      }
    } // end unordered list
  } // end game navigation container
  
  
  ul#registered_list {
    list-style-type: none;
    margin-left: 10px;
    
    
    
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
      
      img {
        float: left;
        margin: 5px;
      }
      
      p {
        font-style: italic;
      }
      
      span {
        float: right;
        margin-right: 10px;
        
        a {
          text-decoration: underline;
          color: #000;
          font-style: italic;
        }
        
      }
      
    }
  }// end registered list
  
  
  #remaining_time_container {
    border: 1px solid #666;
    #week_header {
      color: #fff;
      padding: 10px;
      background: #000;  
      text-align: center;
     
    }
    
    div:nth-child(2) {
      margin-top: 20px;
       p {
        text-align: center;
        font-size: 18px;
        margin-bottom: -3px;
       }
      
    }
    
    div:nth-child(3) {
      margin-top: 20px;
       p {
        text-align: center;
        font-size: 16px;
        font-weight: heavy;
        color: #666;
        margin-bottom: -3px;
       }
      
    }
    
    
    div:nth-child(4) {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      
      div {
        margin-top: -2px;
        span {
          text-align: center;
          
          margin-right: 1px;
          font-size: 14px;
          font-weight: heavy;
        }
      }
    }
    
    
    
    
  } // end remaining time container
  
  #vietti_ad_container {
    width: 300px;
    height: 250px;
    background-image: url("/assets/vietti_ad.png");
  }
  
}// end main container





