/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
*/


@import "bootstrap";

body {
  padding: 0;
  margin: 0;
  background: url("/assets/chilipeppers_background.png") no-repeat center 220px;
  width: 100%;
  display: table;
}


#main_header {
  height: 225px;
  background-image:url("/assets/header_background_gradient.png");
  background-repeat: repeat-x;
  border-style: none;
  
  #sun_rays {
    width: 1015px;
    height: 230px;
    margin: 0 auto;
    background-image:url("/assets/header_sunrays.png");  
    
    .row {
      
      margin: 0;
      padding: 0;
    }
    
    #vietti_logo {
      margin-top: 50px;
      width: 238px;
      height: 137px;
      background-image:url("/assets/vietti_logo.png");
    }
    
    #cowgirl {           
      width: 388px;
      height: 225px;
      margin: 0 auto;
      margin-left: 50px;
      background-image:url("/assets/cowgirl.png");
    }
    
    #football_experts {
      margin-top: 80px;
      width: 276px;
      height: 73px;
      background-image:url("/assets/football_experts_club_logo.png");
    }
    
  }
  
  #navigation_container {    
       
    ul {      
      list-style-type: none;
      
      li {
        margin-right: 10px;
        float: left;
      }  
    }
    
  } // end navigation container
} // end main_header




#main.container {
  background: #fff;
  padding: 20px;
  
  #sign_up {
    margin-top: 60px;
  }
  
  #game_navigation_container {
    ul {
      list-style-type: none;
      
      li {
        margin-right: 20px;
        float: left;
      }
    } // end unordered list
  } // end game navigation container
  
}





